* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    margin: 0;
    padding: 0;
}

.contenedor1{
    display: flex;
    background-color: cadetblue;
    height: 3800px;
    width: 100%;
}

.T1{
    color: rgb(128, 78, 43);
    font-weight: bold;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 190px;
    margin-left: 90px;
    width: 1280px;
}

.galeria{
    display: flex;
    margin-top: 250px;
    margin-left: -1370px;
    background-color: rgb(13, 5, 105);
    height: 287px;
    width: 100%;
}



.listaImagenesConenedorP1 img{
    width: 100%;
    object-fit: cover;
    width: 2000px;
    height: 270px;
    margin-right: 15px;
}

.listaImagenesConenedorP1{
    display: flex;
    overflow-y: auto;
}

.T2{
    margin-top: 580px;
    margin-left: -1428px;
    color: rgb(128, 78, 43);
    font-weight: bold;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1280px;
}

.galeria2{
    display: flex;
    margin-top: 650px;
    margin-left: -1371px;
    background-color: rgb(13, 5, 105);
    height: 287px;
    width: 100%;
}



.listaImagenesConenedorP2 img{
    width: 100%;
    object-fit: cover;
    width: 2000px;
    height: 270px;
    margin-right: 15px;
}

.listaImagenesConenedorP2{
    display: flex;
    overflow-y: auto;
}

.T3{
    margin-top: 980px;
    margin-left: -1427px;
    color: rgb(128, 78, 43);
    font-weight: bold;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1280px;
}

.galeria3{
    display: flex;
    margin-top: 1050px;
    margin-left: -1373px;
    background-color: rgb(13, 5, 105);
    height: 287px;
    width: 100%;
}



.listaImagenesConenedorP3 img{
    width: 100%;
    object-fit: cover;
    width: 2000px;
    height: 270px;
    margin-right: 15px;
}

.listaImagenesConenedorP3{
    display: flex;
    overflow-y: auto;
}

.T4{
    margin-top: 1380px;
    margin-left: -1427px;
    color: rgb(128, 78, 43);
    font-weight: bold;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1280px;
}

.galeria4{
    display: flex;
    margin-top: 1450px;
    margin-left: -1373px;
    background-color: rgb(13, 5, 105);
    height: 287px;
    width: 100%;
}



.listaImagenesConenedorP4 img{
    width: 100%;
    object-fit: cover;
    width: 2000px;
    height: 270px;
    margin-right: 15px;
}

.listaImagenesConenedorP4{
    display: flex;
    overflow-y: auto;
}

.T5{
    margin-top: 1780px;
    margin-left: -1427px;
    color: rgb(128, 78, 43);
    font-weight: bold;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1280px;
}

.galeria5{
    display: flex;
    margin-top: 1830px;
    margin-left: -1373px;
    background-color: rgb(13, 5, 105);
    height: 287px;
    width: 100%;
}



.listaImagenesConenedorP5 img{
    width: 100%;
    object-fit: cover;
    width: 2000px;
    height: 270px;
    margin-right: 15px;
}

.listaImagenesConenedorP5{
    display: flex;
    overflow-y: auto;
}

.T6{
    margin-top: 2150px;
    margin-left: -1427px;
    color: rgb(128, 78, 43);
    font-weight: bold;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1280px;
}

.galeria6{
    display: flex;
    margin-top: 2220px;
    margin-left: -1373px;
    background-color: rgb(13, 5, 105);
    height: 287px;
    width: 100%;
}



.listaImagenesConenedorP6 img{
    width: 100%;
    object-fit: cover;
    width: 2000px;
    height: 270px;
    margin-right: 15px;
}

.listaImagenesConenedorP6{
    display: flex;
    overflow-y: auto;
}

.T7{
    margin-top: 2550px;
    margin-left: -1427px;
    color: rgb(128, 78, 43);
    font-weight: bold;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1280px;
}

.galeria7{
    display: flex;
    margin-top: 2620px;
    margin-left: -1373px;
    background-color: rgb(13, 5, 105);
    height: 287px;
    width: 100%;
}



.listaImagenesConenedorP7 img{
    width: 100%;
    object-fit: cover;
    width: 2000px;
    height: 270px;
    margin-right: 15px;
}

.listaImagenesConenedorP7{
    display: flex;
    overflow-y: auto;
}

